.vp-doc div[class*="language-"],
.vp-block {
  margin: 0;
  border-radius: 8px;
}

/* stylelint-disable-next-line selector-class-pattern */
.ͼ1.cm-focused {
  outline: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.ͼ2 .cm-gutters {
  display: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.ͼ4 .cm-content {
  padding: 0 24px;
  font-size: 14px;
  background: var(--vp-code-block-bg);
}
/* stylelint-disable-next-line rule-empty-line-before */
/* stylelint-disable-next-line selector-class-pattern */
.ͼ2 .cm-activeLine {
  background-color: transparent;
}

.demo {
  margin-top: 16px;
}
