.el-link + .el-link {
  margin-left: 12px;
}

.arco-link + .arco-link {
  margin-left: 12px;
}

/* 处理 arco 按钮 */
.arco-btn + .arco-btn {
  margin-left: 12px;
}

/* ———————————————————————————— 修改 .vitepress 样式 ———————————————————————————— */
.vp-doc div[class*="language-"],
.vp-block {
  margin: 0;
  border-radius: 8px;
}

/* stylelint-disable-next-line selector-class-pattern */
.ͼ1.cm-focused {
  outline: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.ͼ2 .cm-gutters {
  display: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.ͼ4 .cm-content {
  padding: 0 24px;
  font-size: 14px;
  background: var(--vp-code-block-bg);
}
/* stylelint-disable-next-line rule-empty-line-before */
/* stylelint-disable-next-line selector-class-pattern */
.ͼ2 .cm-activeLine {
  background-color: transparent;
}

.demo {
  margin-top: 16px;
}

/* 修改侧边栏样式 */
.items .VPSidebarItem .item {
  margin-left: 20px;
}

.Layout .VPSidebar {
  background-color: transparent;
}

.Layout .VPSidebar .curtain {
  background-color: transparent;
}

.is-active {
  background-color: color-mix(in srgb, var(--vp-c-brand-1) 10%, transparent);
  border-radius: 4px;
}

.VPSidebarItem.collapsible > .item {
  pointer-events: none;
}

.VPSidebarItem .item .caret {
  display: none;
}

/* ———————————————————————————————————————————————————————— */
